@font-face {
    font-family: 'KonosubaFont';
    src: url('https://github.com/ChevronAllen/Konosuba-Sheet/raw/main/konosuba.woff') format('woff'), /* Modern Browsers */
         url('https://github.com/ChevronAllen/Konosuba-Sheet/raw/main/konosuba.ttf')  format('truetype') /* Safari, Android, iOS */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}
.sheet-custom-font{
    font-family: KonosubaFont, Arial, Helvetica, sans-serif;
}
textarea{
    resize: vertical;
    box-sizing: border-box;
}

/* Source: W3C Schools*/
.sheet-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.sheet-tooltip::after{
    content: "â”";
}

.sheet-tooltip .sheet-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.sheet-tooltip:hover .sheet-tooltiptext {
    visibility: visible;
}

#sheet-container{
    display: block;
    width:100%;
    min-width: 800px;

}

.sheet-page{
    border-style: solid;
    border-image:  url(https://i.imgur.com/oBYtf8B.png);
    border-image-slice: 70;
    border-image-width: 20;
    border-image-repeat: round;
    border-image-outset: 1;
    background-color: #edddc0;
    min-height: 500px;
    margin-bottom: 1rem;
    padding: 60px 40px;
}

#sheet-page-character,
#sheet-page-scores,
#sheet-page-skills,
#sheet-page-equipment,
#sheet-page-config{
    display: none;
}

input.sheet-tab[value="character"] ~ #sheet-page-character,
input.sheet-tab[value="scores"] ~ #sheet-page-scores,
input.sheet-tab[value="skills"] ~ #sheet-page-skills,
input.sheet-tab[value="equipment"] ~ #sheet-page-equipment,
input.sheet-tab[value="config"] ~ #sheet-page-config{
    display: block;
}

#sheet-page-character > .sheet-header{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex;
    align-items: flex-end;
}
#sheet-page-character > .sheet-header img.sheet-logo{
    order: -1;
    flex-grow:1;
}
#sheet-page-character > .sheet-header input[name="attr_character_name"]{
    order: 1;
    flex-grow:2;
}

#sheet-page-character img.sheet-logo{
    height: 100px;
    min-width: 300px;
    max-width: 300px;
    border:1px solid black;
}

#sheet-page-character input[name="attr_character_name"]{
    width:100%;
    height: 4em;
}
.sheet-locked,
.sheet-unlocked{
    display: none;
}
.sheet-lock[value=1] ~ .sheet-locked,
.sheet-lock[value=0] ~ .sheet-unlocked{
    display: block;
}